{% extends 'register/base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
      <h1 class="text-center alert alert-info" > Add New Employee </h1>
        <form action="" method="POST"> {% csrf_token %}
        {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Register">
        </form>
    </div>
    <div class="col-sm-6">
      <h1 class="text-center alert alert-info" > Show Employee Details </h1>
        {% if emp %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">EmpNo</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
          {% for empdt in emp %}
            <tr>
              <th scope="row">{{empdt.id}}</th>
              <td>{{empdt.empno}}</td>
              <td>{{empdt.name}}</td>
              <td>{{empdt.email}}</td>
              <td>
                  <form action="{% url 'updatempdt' empdt.id %}" method="POST" class="d-inline">{% csrf_token %}
                      <input type="submit" class="btn btn-warning" value="Edit">
                  </form>
                  <form action="{% url 'deletemp' empdt.id %}" method="POST" class="d-inline">{% csrf_token %}
                      <input type="submit" class="btn btn-danger" value="Delete">
                  </form>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% else %}
            <h1 class="text-center alert alert-warning" > No Records Found </h1>
        {% endif %}
    </div>
</div>
{% endblock content %}