<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Employees</title>
    <link rel="stylesheet" href="{% static 'register/css/bootstrap.css' %}">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center alert alert-danger">Registration of Employee - CRUD Operations</h2>
    {% block content %}

    {% endblock content %}
</div>
<script src="{% static 'register/js/jquery.js' %}"></script>
<script src="{% static 'register/js/popper.js' %}"></script>
<script src="{% static 'register/js/bootstrap.js' %}"></script>
</body>
</html>